a {
    margin-right: 25px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
p {
    background-color: darkgreen;
    padding: 15px;
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid gold;
    border-bottom: 3px solid gold;

}
img {
    display: block;
    width: 25%;
    margin: auto;
    border: 3px solid darkgreen;
    border-radius: 50%;
    box-shadow: 15px 15px 10px darkgreen;
}
table {
    border: 1px solid darkgreen;
    border-collapse: collapse;
}
td {
    border: 1px solid darkgreen;
    padding: 5px;
}
tr:nth-child(odd){
    background-color: darkkhaki;
}
.Homestyle:hover {
    background-color: blue;
    color: black;
    font-weight: bold;
}
.citstyle:hover {
    background-color: aliceblue;
    color: red;
    font-weight: bold;
}
.ctestyle:hover {
    background-color: brown;
    color: yellow;
    font-weight: bold;
}
.coestyle:hover {
    background-color: brown;
    color: brown;
    font-weight: bold;
}
span {
    position: fixed;
    bottom: 1%;
    left: 40%;
    background-color: rgb(134, 236, 134);
}
h2 {
    text-align: center;
}
h1 {
    font-family: 'Dancing Script', cursive;
}

